body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #b43322d3;
    color: white;
}

h1 {
    font-size: 4rem; /* Ajuste general para encabezados */
    text-align: center;
    margin: 10px;
}

header .logo {
    width: 100px;
    margin-top: 10px;
    border: 5px solid transparent;
    border-radius: 20px;
}

.mensaje-bienvenida {
    font-size: 1.25rem; /* Ajuste general para texto */
    text-align: center;
    margin: 10px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.container p {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

.container h2 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 10px;
}

.container ol {
    text-align: left;
    margin: 0 auto 20px auto;
    padding: 0 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Ajuste para reducir espacio en dispositivos móviles */
}

button:hover {
    background-color: #0056b3;
}

#instructions-container {
    display: none;
    text-align: center;
    max-width: 80%;
    padding: 10px 0;
    margin: 0 auto;
}

#qrcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qrcode {
    margin-bottom: 20px;
}

#url-display {
    text-align: center;
    max-width: 80%;
    padding: 20px 0;
    margin: 0 auto;
}

#instructions {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #b43322d3;
    color: white;
    margin-top: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(imagen.jpeg);
}

.login-container input {
    width: 80%; /* Ajuste para pantallas pequeñas */
    max-width: 300px; /* Tamaño máximo en pantallas grandes */
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.main-container {
    display: none;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-icon {
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; /* Ajuste para pantallas más pequeñas */
    }

    .container h2 {
        font-size: 1rem;
    }

    .container p {
        font-size: 0.875rem;
    }

    button {
        padding: 8px 16px;
    }

    .login-container input {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem; /* Ajuste para dispositivos móviles más pequeños */
    }

    .container h2 {
        font-size: 0.875rem;
    }

    .container p {
        font-size: 0.75rem;
    }

    button {
        padding: 6px 12px;
    }

    .login-container input {
        width: 100%;
    }

    .whatsapp-float {
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;
    }

    .whatsapp-icon {
        font-size: 24px;
    }
}
